<!doctype html5>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
    <title>Push a new link</title>

    <!-- Bootstrap: CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Bootstrap: Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Boostrap:  My customizations -->
    <link rel="stylesheet" href="/static/bootstrap_custom.css">


    <title>The To-Read stack</title>
  </head>

  <body>


    <div class="container">
    <div class="row">

      <div class="col-lg-4"></div>

		<div class="col-lg-4">


      <table>
        {{ range $danger_message := .danger_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid red; border-radius: 50px;"> {{ $danger_message }}</td>
        </tr>
        {{ end }}

        {{ range $info_message := .info_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid lightblue; border-radius: 50px;">
            {{ $info_message }}
          </td>
        </tr>
        {{ end }}

        {{ range $warning_message := .warning_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid yellow; border-radius: 50px;">
            {{ $warning_message }}
          </td>
        </tr>
        {{ end }}
      </table>


			<form class="form-horizontal" action='/auth' method="post" >
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
			    <div class="control-group">


			      <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" style="min-width: 100px;">Username</span>
			        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="username">
			      </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" style="min-width: 100px;">Password</span>
			        <input type="password" class="form-control" placeholder="" aria-describedby="basic-addon1" name="password">
			      </div>

			    </div>

			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-default" style="width: 100%;">Login</button>
			      </div>
			    </div>
          <div class="control-group" style="text-align:right;">
            ... or <a href="/signup">register</a>
          </div>
			  </fieldset>
			</form>



		</div>

    <div class="col-lg-4"></div>
	</div>
</div>
</html>
