<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
    <title>Push a new link</title>

    <!-- Bootstrap: CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Bootstrap: Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Boostrap:  My customizations -->
    <link rel="stylesheet" href="/static/bootstrap_custom.css">

  </head>

  <body style="margin:0px;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">


	       <div class="navbar-header">
	          <button type="button"
		          class="navbar-toggle collapsed"
		          data-toggle="collapse"
		          data-target="#bs-example-navbar-collapse-1"
		          aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                {{ .username }} <span class="glyphicon glyphicon-user"></span>
	         </button>

            <a class="navbar-brand" href="http://stack-todolist.herokuapp.com">Stack TodoList</a>
	       </div>


	        <div class="navbar-right navbar-collapse collapse"
	             id="bs-example-navbar-collapse-1"
	             aria-expanded="false"
	             style="height:1px">

	               <ul class="nav navbar-nav">
                    <li> <a class="navbar" href="/pop" target="_blank">Pop</a></li>
	                  <li> <a class="navbar" href="#"> My profile </a> </li>
                    <li> <a class="navbar" href="#" onclick="javascript:document.forms['logoutform'].submit();"> Logout  </a> </li>

	              </ul>
	        </div>

	   </div>
    </nav>

    <div style="margin:auto; width:80% ; padding-bottom: 25px;">


      <h1>Push a link</h1>

      <table style="width:100%">
        {{ range $success_message := .success_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid lightgreen; border-radius: 50px;">
            {{ $success_message }}
          </td>
        </tr>
        {{ end }}

        {{ range $danger_message := .danger_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid red; border-radius: 50px;"> {{ $danger_message }}</td>
        </tr>
        {{ end }}

        {{ range $info_message := .info_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid lightblue; border-radius: 50px;">
            {{ $info_message }}
          </td>
        </tr>
        {{ end }}

        {{ range $warning_message := .warning_flashes }}
        <tr>
          <td colspan="2" style="border: 1px solid yellow; border-radius: 50px;">
            {{ $warning_message }}
          </td>
        </tr>
        {{ end }}
      </table>

      <div class="row">
        <div class="col-lg-12" >
          <div class="input-group" style="width:80%">
            <form name="pushform" method="post" action="/push">
              <input class="form-control" type="text" name="link" placeholder="http:// ..."></input>
              <span class="input-group-btn">
              <button class="btn btn-default" onclick="javascript:document.forms['pushform'].submit()"
                                              style="min-width: 20%;"
                                              type="button"> Push! </button>
              </span>
          </form>
          </div>
        </div>

      </div>





    <form name="logoutform" method="post" action="/logout"></form>

    <!-- jQuery -- Needed by Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap: JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
