<!doctype html5>
<html>
  <head>
    <title>The To-Read stack</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>
    <center>
      <form method="post" action="/signup">
        <table>
          {{ if .msg }}
          <tr>
            <td colspan="2" style="border:1px solid red;">
              {{ .msg }}
            </td>
          </tr>
          {{ end }}
            <tr>
              <td>
                Username
              </td>
              <td>
                <input type="text" name="username"/>
              </td>
            </tr>
            <tr>
              <td>
                Password
              </td>
              <td>
                <input type="password" name="password1"/>
              </td>
            </tr>
            <tr>
              <td>
                Password (again)
              </td>
              <td>
                <input type="password" name="password2"/>
              </td>
            </tr>
            <tr>
              <td>
                E-Mail (optional)
              </td>
              <td>
                <input type="email" name="email"/>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <center>
                <div class="g-recaptcha" data-sitekey="6LewsQsTAAAAAF3EM7YS4cq0d2UAjTFnKV-JY9-I"></div>
                </center>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align:center;">
                <input type="submit" value="Login" style="width:100%;"/>
              </td>
            </tr>
        </table>
      </form>
    </center>
  </body>
</html>
